<?xml version="1.0"?>
<configuration>
    <!-- Note: this has to be present in the same directory
         as the application's executable file to apply, thus 
         it is currently not used, so as to avoid clutter -->
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
        <add key="DisableDpiChangedMessageHandling" value="false" />
        <add key="DisableDpiChangedHighDpiImprovements" value="false" />
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>
